
@import url("https://fonts.googleapis.com/csse? family=poppins&display=swap");

body {
    background-color: #e6d8d8;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}



header nav {
    float: right;
    position: absolute;
    right: 15px;
    top: 25px;
}
nav {
    display: flex;
    flex-direction: column;
    visibility: visible;
}

input::before {
    content: "\f0c9";
    font-family: sans-serif;
    font-weight: 700;
    font-size: 1.8em;
    z-index: 10;
    color: rgb(248, 0, 0);
}
input:checked::before {
    float: right;
    content: "\f00d";
    animation: anim 1s;
}
@keyframes anim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

input::after {
    content: "";
    position: absolute;
    top: -15%;
    left: -20%;
    width: 140%;
    height: 120%;
    background: rgb(255, 0, 0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.116);
    border-radius: 5px;
    z-index: -1;
    font-family: sans-serif;
}
nav {
    position: absolute;
    margin-top: 15px;
}
nav a {
    transform: translate(100-x);
    text-align: center;
    padding: 5px 20px;
    background: #00144bcb;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.103);
    border-radius: 5px;
    text-decoration: none;
    color: white;
    margin: 5px 0;
    transition: transform calc(var(--i) * 0.2s), background .4s;
}
input:checked ~ nav a {
    transform: translate(-80px);
}
nav a:hover {
    background: #007bac;
    box-shadow: 0 0 15px rgb(255, 255, 255);
}

a {
    text-decoration: none;
    color: white;
}

header {
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
    overflow: hidden;

    background-image: url(backgroundcontact.jpg);

}

 




/*Contact*/








#back1
{

  margin: 10px;
  padding: 20px 0;
}

*{
  box-sizing: border-box;
}

#couleur
{
  
    margin:  auto;
    padding: auto ;
    border-radius: 20px;
    width: 400px;
    height: 50px;
}

#bouton
{
margin: 0 29%;
}
#boutonE
{
  font-size: 0.4em;
}

#formulaire
{
    margin: 100px 20px;
    font-size: 2.5em;
}

#sectionH1
{
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
  margin: 50px 580px;
  padding: 20px;
  font-size: 1em;
  text-transform:uppercase ;
}
#boutonE
{
  font-size: 15px;
  border-radius: 20px;
  background-color: #2e9ada;
  color: white;
}
#sectionH11
{
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
  margin: 20px 500px;
  font-size: 1.5em;
  text-transform:uppercase ;
}


footer
{
  margin-top: 400px;
}

input, textarea{
  padding: 10px 15px;
  outline: none;
  border: 2px solid #012231;
  margin-bottom: 25px;
  border-radius: 10px;
  width: 100%;
}

img:hover
{
  transform: scale(1.05);
  transition: 0.6s ease-in-out;
}

.texte1{
    text-align: center;
    font-size: 2.5rem;
    padding: 3% ;
    margin: 5% ;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer {
    background-color: #aca9a9;
    padding: 20px 0;
    line-height: 1.4rem;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    text-transform: uppercase;
   
}

.footer-item {
    margin: 20px;
    padding: 30px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
    
}
footer h4{
    text-transform: uppercase;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
    
}
#Reseaux
{
    color: black;
    margin:px 500px;
    
}
#R1
{
    
    color: black;
    margin:10px 0px;
    padding: 0 0;
}
#copyright-copy{
    text-align: center;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
    
}
@media only screnn and (max-width:600px)